<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" ></script>
	<script src="//apis.google.com/js/platform.js?onload=start"></script>
</head>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}


<div id="signInButton">
	<span class="g-signin"
		data-scope="openid email"
		data-clientid="874844999995-gqrtvdunmbaubbkp9uu8clpd5ub5bf3f.apps.googleusercontent.com"
		data-redirecturi="postmessage"
		data-accesstype="offline"
		data-cookiepolicy="single_host_origin"
		data-callback="signInCallback"
		data-approvalprompt="force">
	</span>
</div>
<div id="result_data"></div>
<script>
// This will be called once the signin is successful
function signInCallback(authResult){
	console.log(authResult['code'])
	if (authResult['code']) {
		// To hide the sign in button once the user is logged in
		$('#signInButton').attr('style', 'display:none');
		// To send the one time use code to the server,if the server responds
		// write login successful to this page and redirect to home page.
		$.ajax({
			type : 'POST',
			url : '/gconnect?state={{STATE}}', // this is defined in application.py
			processData : false, // To tell Jquery to NOT to process data into string
			contentType : 'application/octet-stream; charset=utf-8', // octet-stream tells we are sending binary data
			// charset says the encoding method.
			data : authResult['code'], // Code to send the one time code to server
			// What to do on success response is below.
			success : function(result) {
				console.log(result)
				if (result) {
					$('#result_data').html('Login was successful <br> ' + 'Redirecting to the home page....');
					setTimeout(function(){
						window.location.href = "/categories" ;
					}, 4000);
				}
				else if (authResult['error']){
					console.log('There was an error ' + authResult['error']);
				}
				else{
					$('#result_data').html('Failed to make a server-side call. check your config and console')
				}
			}
		});
	}
}
</script>

<!-- for loading the facebook sdk -->
<!-- copied from the fb's developer page https://developers.facebook.com/apps/1873169229566628/fb-login/quickstart/ -->

<script>
  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1873169229566628',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });
  };
  // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  // Here we run a very simple test of the Graph API after login is
  // successful.  See statusChangeCallback() for when this call is made.
  function sendTokenToServer() {
    var access_token = FB.getAuthResponse()['accessToken'];
    console.log(access_token)
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);
    $('#fb_login').attr('style', 'display:none')
     $.ajax({
      type: 'POST',
      url: '/fbconnect?state={{STATE}}',
      processData: false,
      data: access_token,
      contentType: 'application/octet-stream; charset=utf-8',
      success: function(result) {
        // Handle or verify the server response if necessary.
        if (result) {
          $('#result_data').html('Login Successful!</br>'+ result + '</br>Redirecting...')
         setTimeout(function() {
          window.location.href = "/categories";
         }, 4000);
          
      } else {
        $('#result_data').html('Failed to make a server-side call. Check your configuration and console.');
         }
      }
      
  });
    });
  }
</script>


<button id="fb_login">
         

          <fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
Login with Facebook

</fb:login-button>


        </button>
<!--END FACEBOOK SIGN IN -->
</body>
</html>